/** @format */
:root {
  --branding-color: #d789d7;
  --secondary-color: #9d65c9;
  --branding-background: linear-gradient(
    to right,
    rgb(173, 83, 137),
    rgb(60, 16, 83)
  );
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --primary-font-family: "Baloo 2", cursive;
  --secondary-font-family: "Delius Unicase", cursive;
}

body {
  font-family: var(--primary-font-family);
  color: white;
}
.container {
  color: white;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("../images/pancakes_cover.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 100px 0;
}
header h1 {
  font-size: 54px;
  font-weight: 700;
  font-family: var(--secondary-font-family);
  line-height: 1.2;
  margin: 30px 0;
}
head h2 {
  font-weight: lighter;
}
header p {
  font-size: 24px;
  margin: 0;
}

header a {
  font-size: 19px;
  padding: 5px 23px;
  margin: 30px auto 25px;
  font-family: var(--primary-font-family);
  border: none;
  border-radius: 10px;
  background-color: #f6a30995;
  display: inline-block;
  text-decoration: none;
  color: rgb(241, 245, 6);
}

header a:hover {
  padding: 5px 23px;
  margin: 30px auto 25px;
  font-family: var(--primary-font-family);
  border-radius: 10px;
  font-weight: bold;
}
/*container-info*/
.container-info {
  border: 1px solid black;
  text-align: center;
  margin: 0 auto;
  padding: 120px;
}
/*Container-about*/
.container-about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/plate_pancakes.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
  padding: 30px 70px;
}

.container-about li {
  list-style: none;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}
.website {
  color: white;
  padding: 10px;
}
/*footer*/
.footer-section {
  margin: 2px 0 45px;
  border-top: 3px solid purple;
}
.bottombar {
  color: rgb(253, 252, 252);
  text-align: right;
  padding: 10px 50px;
  background-color: #090110;
}
.logo {
  display: block;
  text-align: left;
}
.coded-by {
  margin-top: -30px;
  text-align: end;
  margin-bottom: 12px;
  line-height: 20px;
  font-size: 15px;
  color: rgb(249, 242, 242);
}
.links {
  text-decoration: none;
}
.fa-brands,
.fa-globe {
  color: rgb(242, 225, 239);
  font-size: 25px;
  padding: 3px;
}
.fa-github-square:hover {
  color: purple;
}
.fa-linkedin:hover{
  color: blue;
}
.fa-globe:hover {
  color: rgb(24, 104, 117);
}

@media (max-width: 900px) {
  header,
  .container-about {
    padding: 10px 15px;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }

  header p {
    font-size: 15px;
  }
}
